@page "/reports"

@using Services.Interfaces
@using Services
@using MyFinanceLibrary.Models

@inject MyHttpService httpService;

<h3>Daily Report</h3>
<div class="form-group">
    <label for="date">Select Date:</label>
    <input type="date" class="form-control" @bind-value="selectedDate" />
    <br />
    <button class="btn btn-primary" @onclick="GetDailyReport">Get Report</button>
</div>

@if (dailyReport != null)
{
    <br />
    <h4>Report for @selectedDate.ToShortDateString()</h4>
    <h4>Total income: @report.Income.ToString()</h4>
    <h4>Total expenses: @report.Expenses.ToString()</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dailyReport)
            {
                <tr>
                    <td>@item.Comment</td>
                    <td>@item.Amount.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

<h3>Period Report</h3>
<div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="date" class="form-control" @bind-value="startDate" />
    <label for="endDate">End Date:</label>
    <input type="date" class="form-control" @bind-value="endDate" />
    <br />
    <button class="btn btn-primary" @onclick="GetPeriodReport">Get Period Report</button>
</div>

@if (periodReport != null)
{
    <br />
    <h4>Report from @startDate.ToShortDateString() to @endDate.ToShortDateString()</h4>
    <h4>Total income: @report.Income.ToString()</h4>
    <h4>Total expenses: @report.Expenses.ToString()</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in periodReport)
            {
                <tr>
                    <td>@item.Comment</td>
                    <td>@item.Amount.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReportService reportService;
    private DateTime selectedDate = DateTime.Today;
    private List<FinancialOperation> dailyReport;
    private DateTime startDate = DateTime.Today.AddDays(-7);
    private DateTime endDate = DateTime.Today;
    private List<FinancialOperation> periodReport;
    private MyFinanceLibrary.Report report = new MyFinanceLibrary.Report();

    protected override void OnInitialized()
    {
        reportService = new ReportService(httpService);
    }

    private async Task GetDailyReport()
    {
        report = await reportService.GetDailyReport(selectedDate);
        dailyReport = report.Operations;
    }

    private async Task GetPeriodReport()
    {
        report = await reportService.GetPeriodReport(startDate, endDate);
        periodReport = report.Operations;
    }
}

